.section-intro-1 {
  overflow-x: hidden;

  .back-img {
    height: 600px;
    position: relative;
  }

  .main-ttl-1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 0 20px;
  }
}