.btn-group {
  margin: 0 -10px;

  .btn {
    margin: 0 10px;
  }
}

.btn {
  font-size: 16px;
  font-weight: 700;
  padding: 17px 40px;
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 1.5px;
  transition: .5s;
  cursor: pointer;



  &.main-btn-1 {
    padding: 29px 50px;
    font-size: 21px;
    letter-spacing: 0.6px;
    color: white;
  }
}