a {
  text-decoration: none;
  color: inherit;
  transition: color .5s, opacity .5s, background .5s;
  &:focus {
    outline: none;
  }
}

button {
  transition: color .5s, opacity .5s, background .5s;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
}

.back-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.rect-outer {
  position: relative;
  .rect-inner {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
}

.orange-btn {
  background-color: $red;
  font-family: $main-font-family-1;
  font-size: 14px;
  color: white;
  padding: 13px;
  border-radius: 25px;
  transition: all 0.5s ease;
  min-width: 132px;
  text-align: center;
  display: inline-block;

  &:hover {
    background-color: #ffa974;
  }
}