$cubic: "cubic-bezier(.77,.06,.28,.85)";

.header {
  top: 0;
  left: 0;
  transition: .5s;
  z-index: 106;
  width: 100%;
  padding: 12px 0;
  background-color: white;
  box-shadow: 0 3px 5px 0 rgba(189,189,189,1);

  .container {
    max-width: 1210px;
  }

  .header-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navbar-head {

    .logo {
      color: $red;
      font-size: 24px;
      letter-spacing: 1px;

      strong {
        font-weight: 600;
      }
    }
  }

  .wrap-right-side {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @media(max-width: $mobile-menu-breakpoint) {
      width: auto;
      margin: 0 0 0 auto;
    }
  }

  .menu {
    @media(max-width: $mobile-menu-breakpoint) {
      position: fixed;
      top: 0;
      right: -250px;
      width: 60%;
      max-width: 250px;
      height: 100vh;
      z-index: 98;
      transition: all 0.75s #{$cubic};
      background: white;
      padding: 60px 20px 30px 20px;
      overflow-x: hidden;
      overflow-y: auto;
      &.open {
        right: 0;
      }
    }
    @media(max-width: 500px) {
      width: 85%;
      right: -85%;
    }
  }

  #menu-main-menu {

    > li {
      display: inline-block;
      position: relative;
      padding: 10px 4px;

      @media(max-width: $mobile-menu-breakpoint) {
        display: block;
        margin: 24px 0;
      }

      > a {
        color: black;
        display: inline-block;
        font-family: $main-font-family-1;
        font-size: 15px;
        text-transform: capitalize;
        padding: 5px 20px;
        transition: all 0.5s ease;
        position: relative;
        font-weight: 400;

        @media(max-width: 1205px) {
          padding: 5px 15px;
        }

        @media(max-width: 1080px) {
          padding: 5px 10px;
        }

        &:hover {
          color: $red;
        }
      }

      &.header-btn {
        a {
          color: $red;
        }
      }
    }
  }

  .client-area-btn {
    margin-left: 66px;
    @media(max-width: 1205px) {
      margin-left: 30px;
    }

    @media(max-width: 1080px) {
      margin-left: 20px;
    }
  }

  #menu-trigger {
    display: none;
    @media(max-width: $mobile-menu-breakpoint) {
      z-index: 99;
      transition: all 0.5s ease;
      transform: scale(0.75);
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: white;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    div {
      position: relative;
      display: block;
      height: 2px;
      width: 30px;
      background: black;
      transition: .3s;
      + div {
        margin-top: 7px;
      }
    }

    &:hover {
      cursor: pointer;
      div:nth-child(odd) {
        width: 35px;
      }
      div:nth-child(even) {
        width: 30px;
      }
    }
  }
}
