$cubic: "cubic-bezier(.77,.06,.28,.85)";

.header {
  top: 0;
  left: 0;
  transition: .5s;
  z-index: 106;
  width: 100%;
  position: fixed;
  padding: 0 0 17px 0;

  @media(max-width: $mobile-menu-breakpoint) {
    padding: 15px 0;
  }

  .container {
    max-width: 1190px;
  }

  .login-sign-up {
    text-align: right;
    font-family: $main-font-family-1;
    font-size: 14px;
    padding: 6px 5px 0 0;
    color: white;
    @media(max-width: $mobile-menu-breakpoint) {
      display: none;
    }

    &:hover {
      color: black;
    }
  }

  .header-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navbar-head {

    .logo {

      strong {
        font-weight: 600;
      }
    }
  }

  .wrap-right-side {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @media(max-width: $mobile-menu-breakpoint) {
      width: auto;
      margin: 0 0 0 auto;
    }
  }

  .menu {
    @media(max-width: $mobile-menu-breakpoint) {
      position: fixed;
      top: 0;
      right: -250px;
      width: 60%;
      max-width: 250px;
      height: 100vh;
      z-index: 98;
      transition: all 0.75s #{$cubic};
      background: white;
      padding: 60px 20px 30px 20px;
      overflow-x: hidden;
      overflow-y: auto;
      &.open {
        right: 0;
      }
    }
    @media(max-width: 500px) {
      width: 85%;
      right: -85%;
    }
  }

  #menu-main-menu {

    > li {
      display: inline-block;
      position: relative;
      padding: 10px 4px;

      @media(max-width: $mobile-menu-breakpoint) {
        display: block;
        margin: 24px 0;
      }

      > a {
        color: white;
        display: inline-block;
        font-family: $main-font-family-1;
        font-size: 16px;
        text-transform: capitalize;
        padding: 5px 12px;
        transition: all 0.5s ease;
        position: relative;
        font-weight: 400;
        @media(max-width: $mobile-menu-breakpoint) {
          color: black;
          font-size: 16px;
        }

        &:hover {
          cursor: pointer;
          color: $red;
        }
      }

      &.mobile-visible {
        display: none;
        @media(max-width: $mobile-menu-breakpoint) {
          display: block;
        }
      }

      &.header-btn {
        a {
          color: white;
        }
      }

      &.login-btn {
        a {
          color: $red;
        }
      }
    }

    button {
      display: none;

      @media (max-width: $mobile-menu-breakpoint) {
        position: absolute;
        top: 0;
        width: 40px;
        height: 47px;
        right: 0;
        background-color: transparent;
        border: none;
        transition: .5s;
        outline: none;
        display: block;
        text-align: right;

        i {
          font-size: 16px;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }

    .menu-item-has-children {

      &:hover {
        .collapse {
          @media (min-width: $mobile-menu-breakpoint + 1) {
            display: block;
          }
        }
      }
    }

    .sub-menu {
      text-align: left;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 2;
      background-color: $red;
      width: 180px;
      opacity: 0;
      overflow: hidden;
      @media (min-width: $mobile-menu-breakpoint + 1) {
        padding: 18px 0;
      }

      @media (max-width: $mobile-menu-breakpoint) {
        position: relative;
        top: 10px;
        text-align: left;
        width: 100%;
        box-shadow: none;
        margin: auto;
        visibility: visible !important;
        opacity: 1 !important;
      }

      li {
        width: 100%;
        line-height: 120%;
        padding: 5px 20px;

        a {
          display: inline-block;
          color: white;
          position: relative;
          text-transform: capitalize;
          font-size: 16px;
          padding: 5px 0;
          transition: all 0.5s ease;
        }
      }
    }
  }

  .header-btn {
    background-color: $red;
    font-family: $main-font-family-1;
    font-size: 14px;
    color: white;
    padding: 7px 13px;
    transition: all 0.5s ease;
    margin-left: 12px;
    text-align: center;
    @media(max-width: $mobile-menu-breakpoint) {
      display: none;
    }

    &:hover {
      background-color: $red;
    }
  }

  #menu-trigger {
    display: none;
    @media(max-width: $mobile-menu-breakpoint) {
      z-index: 99;
      transition: all 0.5s ease;
      transform: scale(0.75);
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: white;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    div {
      position: relative;
      display: block;
      height: 2px;
      width: 30px;
      background: black;
      transition: .3s;
      + div {
        margin-top: 7px;
      }
    }

    &:hover {
      cursor: pointer;
      div:nth-child(odd) {
        width: 35px;
      }
      div:nth-child(even) {
        width: 30px;
      }
    }
  }
}
