body {
  font-family: $main-font-family-1;
  font-size: 16px;
  color: $main-text-color-1;
  line-height: 1.3;
  font-weight: 400;
}

.main-ttl-1 {
  font-size: 40px;
  font-family: $main-font-family-2;
  text-transform: uppercase;
  text-align: center;
}

.main-ttl-2 {
  font-size: 30px;
  font-family: $main-font-family-1;
  font-weight: 600;
  margin: 0 0 45px 0;
}

.main-ttl-3 {
  font-size: 24px;
  font-family: $main-font-family-1;
  font-weight: 600;
}

.text-align-center {
  text-align: center;
}

.dark-theme {
  color: black;
}

.blue-theme {
  color: $blue;
}

.light-blue-theme {
  color: $light-blue;
}

.light-theme {
  color: white;
}

.content {
  letter-spacing: -0.45px;
  line-height: 1.6;

  p {
    font-size: 14px;

    + p {
      margin: 20px 0 0;
    }
  }
}