
.icon-comment-empty:before { content: '\f0e5'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-calendar-empty:before { content: '\f133'; } /* '' */